* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.List {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border: 1px solid #000;
    margin: 10px;
    &__item {
        margin: 5px;
        border: 1px solid #000;
        border-radius: 3px;
    }
    &__wrapper {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        
    }
}

.Item {
    padding: 10px;
    background: rgb(75, 127, 187);
    &__title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    &__type {
        margin-bottom: 5px;
    }
    transition: .2s;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
    span {
        display: inline-block;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 0px 3px;
        background: #000;
        color: #fff;
    }
    &.active {
        color: #fff;
        background: #354f6c;
    }
}

.Map {
    position: relative;
    flex-basis: 70%;
    margin: 10px;
    border: 1px solid #000;
    overflow: hidden;
}


.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebarStyle {
    
}

.marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Size {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    padding: 10px;
    margin: 5px;
    color: #fff;
    &__wrapper {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    &__item {
        margin-right: 15px;
        input {
            cursor: pointer;
        }
    }
}